$white: #FFFFFF;
$lightwhite: #F5F5F5;
$palewhite: #EEEEEE;
$lightdark : #555555;
$blue: #45b6fe;
$teal: teal;
$grey:#cacaca;
$pale-green: #c3e4e3;

$header-height-web:60px;
$header-height-mobile:50px;