/* You can add global styles to this file, and also import other style files */

@import 'app/scss/variables.scss';

html, body { height: 100%; background: $lightwhite; box-sizing: border-box;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div,section, header {box-sizing: border-box;}
p{margin: 0px;}


/*Hiding nav icons in mobile mode*/
#fp-nav {
    display: none;
}

@media only screen and (max-width: 500px)  {
    body,html { 
        //overflow: scroll !important; 
    }
}

